include *.rst
include *.txt
include tox.ini

recursive-include docs *.txt

recursive-include src *.py
recursive-include src *.txt
recursive-include src *.dtml
recursive-include src *.gif
recursive-include src *.zpt
