body {
    background-color: White;
    color: Black;
    margin-top: 0;
    margin-left:2pt;
    margin-right:2pt;
    margin-bottom:0;
}

p {
    font-family: serif;
}

h1 {
    font-family:  sans-serif;
    font-size:  120%;
    font-weight:  bold;
}

h2 {
    font-family:  sans-serif;
    font-size:  115%;
}

h3 {
    font-family:  sans-serif;
    font-size:  110%;
}

h4 {
    font-family:  sans-serif;
    font-size:  110%;
    font-style: italic;
}

a:link {
    text-decoration: none;
    color: #336699;
}

a:visited {
    text-decoration: none;
    color: #336699;
}

a:active {
    color: #336699;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: Blue;
}

table {
    border: 0;
}

td {
    vertical-align: top;
}


#Masthead {
    background-color: #336699;
    border: 1pt;
    border-color: #336699;
    padding: none;
    cell-spacing: none;
    width: 100%;
}

#PortalLogo {
    background-color: #336699;
    vertical-align: middle;
    width: 15%;
    height: 32px;
}

#PortalTitle {
    background-color: #336699;
    color: White;
    text-align: left;
    vertical-align: middle;
    font-family:  sans-serif;
    font-size: 120%;
    font-weight: bold;
    width: 25%;
    height: 32px;
}

#NavBar {
    background-color: #336699;
    color: #FFFFFF;
    text-align: right;
    vertical-align: middle;
    font-family:  sans-serif;
    font-size: 80%;
    width: 60%;
    height: 32px;
}

#NavBar a:link {
    color: #FFFFFF;
    text-decoration: none;
}

#NavBar a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

#NavBar a:active {
    color: #FFFFFF;
    text-decoration: none;
}

#NavBar a:hover {
    color: #5599CC;
    text-decoration: none;
}

#MemberActionsBox {
    color: White;
    background-color: #5599CC;
    border-top: solid #AAAAAA;
    border-top-width: thin;
}

#ContextActionsBox {
    border-color: #AAAAAA;
    background-color: #AAAAAA;
    padding: none;
}

.ContextActionsRow {
    color: White;
    background-color: #AAAAAA;
}


.ActionTitle {
    color: Black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 90%;
}

.ActionLink {
    color: Black;
    font-family: sans-serif;
    font-size: 90%;
}


.ActionLink a:link {
    color: White;
    text-decoration:  none;
    font-weight: bold;
}

.ActionLink a:visited {
    color: White;
    text-decoration:  none;
    font-weight: bold;
}

.ActionLink a:active {
    color: White;
    text-decoration:  none;
    font-weight: bold;
}

.ActionLink a:hover {
    color: #336699;
    text-decoration:  none;
    font-weight: bold;
}

.ObjectStatus {
    font-style: italic;
}

#ForematterCell {
    margin-top: 20px;
}

#DesktopStatusBar {
    color: Red;
    background-color: White;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 8pt;
}

#DesktopTitle {
    margin-top: 8pt;
}

#DesktopDescription {
    font-style: italic;
    margin-left: 20pt;
    margin-right: 8pt;
}

#Desktop {
    margin-left: 8pt;
    margin-right: 8pt;
}

#ContentByline {
    font-size: 90%;
    font-style: italic;
}

#DiscussionAbove {
    margin-left: 16pt;
    margin-right: 8pt;
    margin-top: 8pt;
    margin-bottom: 8pt;
    font-style: italic;
}

table.FormLayout {
    width: 80%;
}

table.FormLayout tr {
    vertical-align: top;
}

table.FormLayout tr th.TextField {
    vertical-align: top;
    color: #000000;
}

table.FormLayout tr td.TextField {
    vertical-align: top;
    color: #000000;
}

table.FormLayout th {
    text-align: right;
    font-size: 80%;
    font-weight: bold;
}

table.FormLayout dl.FieldHelp dd {
    font-size: 80%;
    color: #000000;
}

table.FormLayout td.ListName {
    background-color:  #336699;
    color: #FFFFFF;
    font-weight: bold;
    vertical-align: middle;
}

table.FormLayout td.ListDefinition {
    font-style: italic;
    color: #000000;
}

table.ContentsList tr td {
    font-size: 100%;
}

table.ContentsList tr td img {
    border: 0;
}

table.SearchResults {
    width: auto;
}

table.SearchResults tr th {
    text-align: left;
}

table.SearchResults tr td img {
    border: 0;
}

table.Wizard {
    width: auto;
}

table.Wizard tr {
    vertical-align: top;
}

table.Wizard tr th {
    text-align: right;
}

div.NewsBar {
    text-align: right;
}

table.NewsItems {
    border: 0;
}


td.NewsBorder {
    background-color: #336699;
}

td.NewsListing {
    background-color: #336699;
    color:  #FFFFFF;
    font-size: 80%;
    font-weight: bold;
}

a.NewsListing{
    background-color: #336699;
    color:  #FFFFFF;
    font-weight: bold;
}

td.NewsByLine {
    background-color:  #CCCCCC;
    color:  #336699;
    font-size: 80%;
    text-align: left;
    vertical-align: top;
}

.NewsLeadin {
    background-color: #FFFFFF;
    color:  #336699;
}

.NewsByLine {
    background-color:  #336699;
    color:  #FFFFFF;
}

.NewsDateline {
    background-color:  #336699;
    color:  #FFFFFF;
}

td.NewsTitle {
    background-color: #336699;
    color: #FFFFFF;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
}

.NewsItemRow {
    background-color: #AAAAAA;
    font-size: 70%;
}

p.NewsHeadline {
    background-color:  #336699;
}

<dtml-var CalendarStyle missing>
